In [1]:
import pandas as pd
nba=pd.read_csv("data/nba-per-game-2017.csv")
nba.describe()

,Rk,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
count,595.000000,595.000000,595.000000,595.000000,595.000000,593.000000,593.000000,593.000000,595.000000,595.000000,...,0.0,595.000000,595.000000,595.00000,595.000000,0.0,595.000000,595.000000,595.000000,595.000000
mean,244.085714,26.411765,48.431933,1090.682353,12.731261,0.526830,0.321577,0.270499,4.908908,15.141681,...,NaN,1.155630,1.102521,2.25916,0.073684,NaN,-1.573613,-0.375966,-1.947563,0.521008
std,140.572151,4.261273,26.306597,835.227295,6.040422,0.093636,0.211414,0.213896,4.200670,7.498764,...,NaN,1.945196,1.047754,2.74509,0.083113,NaN,3.487229,2.131970,4.254853,1.349802
min,1.000000,19.000000,1.000000,1.000000,-35.300000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,-1.700000,0.000000,-0.80000,-0.473000,NaN,-26.700000,-7.100000,-26.900000,-1.400000
25%,124.500000,23.000000,24.000000,321.000000,9.600000,0.500000,0.167000,0.156000,1.800000,10.300000,...,NaN,0.000000,0.200000,0.25000,0.037000,NaN,-3.000000,-1.800000,-3.850000,-0.100000
50%,244.000000,26.000000,55.000000,1013.000000,12.700000,0.537000,0.333000,0.231000,3.300000,13.900000,...,NaN,0.500000,0.800000,1.30000,0.081000,NaN,-1.400000,-0.400000,-1.700000,0.000000
75%,364.500000,29.000000,73.000000,1757.500000,15.550000,0.575000,0.460000,0.340000,7.500000,19.000000,...,NaN,1.600000,1.700000,3.30000,0.114000,NaN,0.000000,0.800000,0.150000,0.700000
max,486.000000,40.000000,82.000000,3048.000000,31.500000,0.820000,1.000000,2.000000,26.300000,100.000000,...,NaN,11.500000,6.000000,15.00000,0.480000,NaN,11.800000,12.100000,15.600000,12.400000